<div class="login-container">
    <h2>Login</h2>
    <form>
      <label for="email">Email:</label>
      <input id="email" type="email" placeholder="Enter your email" />
      <label for="password">Password:</label>
      <input id="password" type="password" placeholder="Enter your password" />
      <button type="button" (click)="login()">Login</button>
    </form>
    <!-- <p>Don't have an account? <a routerLink="/register">Register here</a></p> -->
    <p>Don't have an account ? <a _ngcontent-c1="" routerlink="/register" href="/register">Register here</a>
    </p>
  </div>
  